<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tutorial</title>
    <script>
        setInterval(function() {
            location.reload()
        }, 2000);
    </script>
</head>
<body>

    BODY !<br>
    {{title}}

    <table>
        {{#each clients}}
        <tr>
            <td>{{name}}</td> -
            <td>
                <a href="http://{{ip}}" target="_blank">{{ip}}</a>
            </td>
            <td>{{score}}</td>
        </tr>
        {{/each}}
    </table>

    <h1>Your missions</h1>

    <p>Start a web server on your machine on port 3000</p>

    <p>Answer "Hello, World!" when accessing your home endpoint</p>

    <p>Create a route at POST /question</p>

    <p>Display request body if any</p>

    <p>Answer questions to earn points!</p>

</body>
</html>